.background {
  background: rgb(240, 240, 240);
}

.container {
  width: 280px;
  padding: 8px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding: 8px 0 0;
  margin: 0;
}

#submit-data {
  font-size: 16px;
  font-weight: medium;
  padding: 12px;
  margin: 8px 0 4px;
  color: #4a4a4a;
  background: #00c2cb;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.1s;
}

#submit-data:hover {
  opacity: 0.8;
}

.hackmit {
  color: gray;
  margin-top: 0;
}
